h1,h2,h3,h4 {
    color : black;
    font-variant: small-caps;
    font-family: Verdana, Geneva, sans-serif;

}

p {
    font-size : 1.25em;
    font-family: Verdana, Geneva, sans-serif;
    border-left: solid;
    border-color: blue;
    border-width : 5px;
    background-color: lightblue;
    margin-right : 5px;
    padding-left: 20px;
    padding-top : 10px;
    padding-bottom : 10px;
}

button {
    onclick: :
}