body {
    margin: 0px;
    font-family: Ubuntu;
}

.main{
    display: flex;
    flex-direction: column;
}

.main div{
    flex: auto;
    background-color: #1F2937;
}

img{
    padding: 20px;
    width: 80px;
    height: auto;
}

.clubs{
    font-size: 40px;
    text-align: center;
    color: #F9FAF8;
    padding-bottom: 40px;
}

.main .scitech{
    background-color: #3882F630;
    font-size: 36px;
    color: #392A38;
    padding: 40px;
}